@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body, html {
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 1.5rem;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	color: #BBB;
	background: url('https://raw.githubusercontent.com/jibbosh/site/main/files/back.png');
}

body {
}

img {
	max-width: 100%;
	border-radius: 4px;
}

a {
	text-decoration: none;
	color: #FFF;
}

a:hover {
	text-decoration: underline;
}

.title {
	font-weight: 600;
	color: #FFF;
	font-size: 24px;
	line-height: 32px;
}

.subtitle {
	margin-bottom: 24px;
}


.wrapper {
	width: 1000px;
	background: #262628;
	margin: auto;
	margin-top: 12px;
	box-shadow: 0 0 24px #000000eb;
}

.avatar {
	width: 200px;
	height: 200px;
	display: inline-block;
	vertical-align: top;
}

.header-text {
	margin: 0 24px;
	display: inline-block;
	width: 390px;
	box-sizing: border-box;
}

.header {
	min-height: 200px;
	padding: 24px;
	vertical-align: top;

}

.listening {
	display: inline-block;
	vertical-align: top;
}

.content {
	padding: 0 12px;
	width: 680px;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
}

.section {
	background: #999;
	margin-bottom: 24px;
}

.section-header {
	padding: 12px;
	background: #303033;
}

.section-body {
	padding: 12px;
	background: #39393e;
}

.sidebar {
	padding: 0 12px;
	background: #333;
	display: inline-block;
	width: 300px;
	vertical-align: top;
	box-sizing: border-box;
}

.friend-avatar {
	width: 60px;
	display: inline-block;
}

.friend-name {
	display: inline-block;
	vertical-align: top;
	margin-left: 12px;
}

.friend {
	margin-bottom: 12px;
}

.menu {
	margin: 24px 0;
}

.menu ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.menu li a {
	font-size: 18px;
	line-height: 36px;
}

.blinkies {
	margin-top: 12px;
}
